$primary-color1: #fff;
$primary-color2: #15a775;
$primary-color3: #666;
$primary-color4: #0bab6d;
$primary-color5: #999;

$bg-color1: #f2f2f2;
$bg-color2: #c4c4c4;
$bg-color3: #e5e5e5;
$bg-color4: #d4d4d4;

$border-color1: #d9d9d9;
