.recipe_view_wrap {
  .view_cont_tit {
    margin-bottom: 3.125rem;
    text-align: center;

    h4 {
      font-size: 1.625rem;
      font-weight: bold;
    }

    p {
      margin-top: 1rem;
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
  }
}

@media screen and (max-width: 560px) {
  .recipe_view_wrap {
    .view_cont_tit {
      margin-bottom: 4.625rem;

      h4 {
        // font-size: 2.5rem;
      }

      p {
        margin-top: 1rem;
        font-size: 1.325rem;
      }
    }
  }
}
