.section1 {
  .swiper-container {
    @include flex(space-between, stretch, row);
    position: relative;
    width: 100%;
    max-width: 1696px;
    margin: 0 auto;
    padding: 0 6.25rem;
    box-sizing: border-box;

    .title {
      position: absolute;
      left: 100px;
      bottom: 0;

      p {
        @include flexitems;
        margin-bottom: 0.625rem;
        color: $primary-color4;
        font-size: 1.5rem;
        font-weight: 800;

        img {
          margin-right: 0.625rem;
        }
      }

      h3 {
        font-size: 3.75rem;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: -1.5px;
      }

      button {
        @include flexSpaceBetween;
        width: 17.5rem;
        height: 4.375rem;
        margin-top: 30px;
        padding: 0 30px;
        color: $primary-color1;
        font-size: 1.25rem;
        font-weight: 500;
        border-radius: 35px;
        box-sizing: border-box;
        background-color: $primary-color4;
        background-image: url(../../../public/images/ic_plus.png);
        background-position: 90% center;
        background-repeat: no-repeat;
      }
    }

    .swiper-control {
      @include flexitems;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 29.875rem;

      .count {
        @include flexitems;
        width: 100%;
        margin-right: 1.25rem;
        font-weight: 500;
      }

      .mb_dott {
        display: none;
      }

      .progressbar-container {
        @include flexCenter;
        position: relative;
        margin: 0 0.813rem;

        progress {
          height: 2px;
          width: 185px;

          &::-webkit-progress-bar {
            background-color: $bg-color3 !important;
          }
        }
      }

      .pause {
        flex-shrink: 0;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.938rem;
        border: solid 1px $primary-color2;
        border-radius: 100%;
        background-color: $primary-color1;
        background-image: url(../../../public/images/ic_pause.png);
        background-repeat: no-repeat;
        background-position: center;
      }

      .swiper-button {
        width: 3.5rem;
        height: 3.5rem;
        border: 1px solid $primary-color4;
        border-radius: 100%;
        background-color: $primary-color1;
        background-repeat: no-repeat;
        background-position: center;

        flex-shrink: 0;
        position: static !important;
        margin-top: 0;

        z-index: 10;
        cursor: pointer;
        @include flexCenter;
      }

      .swiper-button-prev {
        background-image: url(../../../public/images/ic_prev.png) !important;

        &::after {
          display: none;
        }
      }

      .swiper-button-next {
        background-image: url(../../../public/images/ic_next.png) !important;
        margin-left: 0.438rem;

        &::after {
          display: none;
        }
      }
    }

    .mySwiper1 {
      width: 23.625rem;
      height: 16.75rem;

      .swiper-title,
      .totalPic {
        display: none;
      }
    }
    .mySwiper2 {
      width: 33.75rem;
      height: 40.625rem;
      box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.1);
      position: relative !important;

      .swiper-slide {
        .picture {
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 10;
          transition: all 0.5s ease-out;

          > img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 120% !important;
            height: 100%;
            object-fit: cover;

            transition: all 0.3s ease-out;
          }

          p {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 3.5rem 2.5rem;
            color: #fff;
            font-size: 2.275rem;
            font-weight: 800;
            word-wrap: break-word;
            border-radius: 20px;
            background-image: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 0.25),
              rgba(0, 0, 0, 0.4) 87%,
              rgba(0, 0, 0, 0.6)
            );
            transition: all 1s;

            .num {
              display: block;
              width: 3.75rem;
              margin-top: 1.25rem;
              padding: 0.375rem 0;
              color: #fff;
              font-size: 1.5rem;
              font-weight: 800;
              text-align: center;
              white-space: nowrap;
              border-radius: 1.55rem;
              background-color: rgba(255, 255, 255, 0.25);

              &::before {
                content: "+";
              }
            }
          }

          .text {
            position: absolute;
            bottom: 0;
            left: 0;
            width: calc(100% - 5rem);
            height: 4.925rem;
            margin: 0 2.5rem 2.125rem;
            padding: 2.125rem 0 0;
            color: #fff;
            font-size: 1.125rem;
            line-height: 1.5rem;
            border-top: 1px solid rgba(255, 255, 255, 0.6);
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            opacity: 1;
            transition: all 0.2s;
            transition-delay: 0.4s;
          }
        }
        .thumb {
          display: flex;
          justify-content: space-between;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 10.75rem;
          padding: 1.25rem;
          background-color: #fff;

          li {
            overflow: hidden;
            position: relative;
            width: 8.25rem;
            height: 8.25rem;
            border-radius: 0.625rem;

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 100%;
              height: 100%;
              object-fit: cover;
              transform: translate(-50%, -50%);
            }

            .more_detail {
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              color: #fff;
              font-size: 1rem;
              font-weight: 500;
              background-color: rgba(0, 0, 0, 0.5);
            }
          }
        }

        &:hover {
          .picture {
            height: calc(100% - 10.75rem);

            p {
              border-radius: 0;
            }

            > img {
              width: 120%;
            }

            .text {
              opacity: 0;
              transition: all 0s;
            }

            .totalPic {
              opacity: 0;
              transition: all 0s ease;
            }
          }
        }
      }
    }
    .mySwiper3 {
      height: 23.625rem;
      width: 23.625rem;
      margin-top: 8.5rem;

      .swiper-title,
      .totalPic {
        display: none;
      }
    }

    .swiper {
      margin-left: 0;
      margin-right: 0;
      border-radius: 20px;

      .swiper-slide {
        text-align: center;
        font-size: 18px;

        img {
          transition: all 0.3s ease-out;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .section1 {
    .swiper-container {
      .title {
        position: static;
        margin-right: 3rem;
      }

      .swiper-control {
        left: 6.25rem;
        right: auto;
        width: 14.5rem;

        .swiper-button {
          display: none;
        }

        .progressbar-container {
          progress {
            width: 100px;
          }
        }
      }

      .swiper {
        height: 28.725rem;

        .swiper-slide {
          &:hover {
            img {
              transform: scale(1.1) !important;
            }
            .picture {
              height: 100%;
              > img {
                transform: scale(1.1) !important;
              }

              .totalPic {
                opacity: 1;
              }
            }
          }
        }
      }

      .mySwiper1 {
        margin-right: 20px;

        .swiper-title,
        .totalPic {
          display: none;
        }
      }

      .mySwiper2 {
        box-shadow: none;
      }

      .mySwiper3 {
        margin-top: 0;
        margin-left: 20px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .section1 {
    .swiper-container {
      .mySwiper1 {
        width: 92%;
        margin-right: 0;
        overflow: hidden;
        position: relative;

        .swiper-slide {
          position: relative !important;
        }
        .swiper-title,
        .totalPic {
          display: block;
        }

        .swiper-title {
          z-index: 2;
          border-radius: 20px;
        }

        .totalPic {
          display: flex;
          z-index: 2;
        }
      }

      .mySwiper2,
      .mySwiper3 {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .section1 {
    padding: 6rem 0rem 2.5rem;

    .swiper-container {
      padding: 0;

      align-items: center;
      justify-content: center;

      .title {
        position: revert-layer;
        width: auto;
        margin-right: 0;

        order: 2;
        p,
        h3 {
          display: none;
        }

        button {
          width: 6rem;
          height: 2.8rem;
          margin-top: 0;
          padding: 0 1rem;
          font-size: 1rem;
          background-size: 1.2rem;
          background-position: 83% center;

          span {
            display: none;
          }

          &::before {
            content: "더보기";
          }
        }
      }

      .swiper-control {
        display: none;

        .count {
          justify-content: flex-end;
        }

        .mb_dott {
          display: block;
          margin: 0 0.5rem;
          color: $primary-color5;
        }

        .progressbar-container {
          display: none;
        }

        .pause {
          order: 1;
          width: 2rem;
          height: 1.7rem;
          margin-left: 1rem;
        }

        .all-num {
          color: $primary-color5;
        }

        & * {
          order: 0;
          font-size: 1rem;
          font-weight: 600;
        }
      }

      .swiper {
        height: 32rem !important;
        // min-width: 736px;
        border-radius: 20px;
      }

      .mySwiper1 {
        margin-left: 75px;
      }

      .mySwiper1,
      .mySwiper3 {
        height: 28.625rem !important;
        .swiper-title,
        .totalPic {
          display: none;
        }
      }

      .mySwiper1,
      .mySwiper2,
      .mySwiper3 {
        min-width: 90%;
      }

      .mySwiper2,
      .mySwiper3 {
        display: block;
        margin-left: 10px;
      }
    }
  }
}
